<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工作日志申报系统</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/declaration/index.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/declaration/dialog-box.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/datepicker/jquery-ui.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../js/declaration/numrel.js"></script>
<script type="text/javascript" src="../js/datepicker/jquery-ui-datepicker.js"></script>
<script type="text/javascript" src="../js/declaration/index_modelList.js"></script>
</head>

<body>
    <div class="headerBox">
        <!--<i class="i-top"><img src="../images/declaration/index_top.png"/></i>-->
        <img src="../images/declaration/index_top.png"/>
    </div>
    <div class="contentBox">
        <div class="leftBox">
    
            <ul class="nav">
                <li class="nav-li">
                    <ul class="nav-top">
                       <!--  <li class="nav-top-li">
                            <p class="p-text" id="username"></p>
                        </li>
                        <li class="nav-top-li">
                            <p class="p-text p-left" id="usercode"></p>
                            <p class="p-text p-right" id="userjob"></p>
                        </li> -->
                        
                       
                        
                     </ul><!--end <ul class="nav-top"> -->
                    
                </li>
            </ul><!--end <ul class="nav"> -->
        </div><!--end <div class="leftBox"> -->
        
        <div class="rightBox">
        	<!-- <div> -->
	            <div class="rightTop2 greyBox">
	                <span>首页 > 查看项目 > 模块详情</span>
	            </div>
	            
	            <div class="rightContent2">
	                <div class="manageBox margin-tb">
                        <!-- <table class="tb">
                            <tbody class="tb-body">
                                <tr class="tb-head">
                                    <td width="25%">ID</td> 
                                    <td width="25%">组别名</td>
                                    <td width="25%">主管</td>
                                    <td width="25%">操作</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>项目一组</td>
                                    <td>***</td>
                                    <td>
                                        <span class="p-edit showbtn modifyGroup-btn">修改</span>
                                        <span class="p-edit delGroup-btn">删除</span>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table> -->
                    </div><!--end <div class="manageBox">-->  
	            </div>   <!--end  <div class="rightContent">-->
	   		<!-- </div> -->
            
        </div><!--end  <div class="rightBox">-->
        
    </div>
   	<div class="showarrow"></div>
   	<div class="showremark">我是一个备注层</div> 
    <!--以下为遮罩层-->
    <div class="dialog-bg"></div>
    <div class="dialog-box" style="display:none">
    	
    </div>
</body>
</html>
