<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工作日志申报系统</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/declaration/index.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/declaration/dialog-box.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/datepicker/jquery-ui.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../js/declaration/numrel.js"></script>
<script type="text/javascript" src="../js/declaration/welcome.js"></script>
<script type="text/javascript" src="../js/datepicker/jquery-ui-datepicker.js"></script>
</head>

<body>
    <div class="headerBox">
        <!--<i class="i-top"><img src="../images/declaration/index_top.png"/></i>-->
        <img src="../images/declaration/index_top.png"/>
    </div>
    <div class="contentBox">
        <div class="leftBox">
    
             <ul class="nav">
                <li class="nav-li">
                	<ul class="nav-top">
                        <!-- <li class="nav-top-li">
                        	<p class="p-text" id="username">你好，***</p>
                        </li>
                        <li class="nav-top-li">
                        	<p class="p-text" id="usercode">工号：***</p>
                        </li>
                        <li class="nav-top-li">
                        	<button class="btn-nav showbtn logReport-btn">上报工作日志</button>
                        </li>
                        <li class="nav-top-li">
                            <button class="btn-nav projectList-btn">查看项目</button>
                        </li>
                        <li class="nav-top-li">
                            <button class="btn-nav showbtn modifyPwd-btn">修改密码</button>
                        </li>
                        <li class="nav-top-li">
                            <button class="btn-nav exit-btn">退出登录</button>
                        </li> -->
                     </ul><!--end <ul class="nav-top"> -->
                    
                </li>
                
                <!-- <li class="nav-li align-center" style="border:1px solid #ccc;">
                	<div class="margin-b">------------按 年 月 查 询------------</div>
                	<div>
                	<input id="yearSearch" style="IME-MODE: disabled; WIDTH: 40px;" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="4" type="text" />
                	&nbsp;年&nbsp;
                	<input id="monthSearch" style="IME-MODE: disabled; WIDTH: 20px;" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="2" type="text" />
                	&nbsp;月&nbsp;
                	<button class="searchBtn yearMonth_search">查询</button>
                	</div>
                </li> -->
                
               <!--  <li class="nav-li">
                	<p class="p-year nextYear" showtype="false"></p>
                	<ul class="nav-middle nextMonth">
                    	
                    </ul>
                </li>
                
                <li class="nav-li">
                	<p class="p-year currentYear" showtype="true"></p>
                	<ul class="nav-middle currentMonth">
                    	
                    </ul>
                </li>
                
               <li class="nav-li">
                	<p class="p-year lastYear" showtype="false"></p>
                	<ul class="nav-middle lastMonth">
                    	
                    </ul>
                </li> -->
            </ul><!--end <ul class="nav"> -->
        </div><!--end <div class="leftBox"> -->
        
        <div class="rightBox">
        	<!-- <div> -->
	            <div class="rightTop2 greyBox">
	                <span>首页 </span>
	            </div>
	            
	            <div class="rightContent2">
	                <div style="top:40%;left:0;position:absolute;width:100%;">
	               <div class="align-center" style="font-size:24px;font-weight:bold;width:100%;">欢 迎 使 用 工 作 日 志 申 报 系 统</div>
	                </div>
	            </div>  
	   		<!-- </div> -->
            
        </div><!--end  <div class="rightBox">-->
        
    </div>
   	<!--以下为遮罩层-->
    <div class="dialog-bg"></div>
    <div class="dialog-box" style="display:none">
    	
    </div>
   
</body>
</html>
